@charset "ISO-8859-1";
	.edge {
		padding: 0;
	}

	.z-page{
		height: auto !important;
	}	
		
	@font-face {
	  font-family: 'Pacifico';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
	  font-display: swap;
	}

	body {
		padding: 0;
		margin: 0px;
		min-height: 100%;
		width: 100%;
	}
	
	.header{
		background-color: rgb(255,255,255);
		box-shadow: 0px 1px 1px rgb(0,0,0,0.1);
		width: 100%;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1003;
	}
	
	.header__container{
		max-width: 80rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		margin: auto;
		padding: 0 1rem;
	}
	
	.content{
		width: 100%;
		background-color: rgb(245,245,245);
	}
	.footer div{
		width: 100%;
	}
	